
html{
    background-color: #012d69;
}

/*================== Encabezado ==================*/

/* ================== Section principales ==================*/

/*.section-presentacion-principal{
    background-color: azure;
}*/
/*section-kids*/

    /*descripcion de producto principal*/
        
        .imagen-presentacion-principal div:nth-child(2){
            
            grid-column: 2/3;
            grid-row: 1/2;
            align-self: center;
        }
        .imagen-presentacion-principal div:nth-child(3){
            
            grid-column: 2/3;
            grid-row: 2/3;
            align-self: center;
        }
        .imagen-presentacion-principal div:nth-child(4){
            
            grid-column: 2/3;
            grid-row: 3/4;
            align-self: center;
        }
.form-iniciar-sesion{
    justify-items: center;
    justify-self: center;
    padding: .3125rem;
}
.form-iniciar-sesion button{
    justify-self: center;
}

/*Section carrito principal*/

/*================== Testimonios ==================*/

.section-testimonios{
display: grid;
width: 100%;
grid-template-columns: 20% 20% 20% 20%;
gap: 1.5625rem;
align-items: center;
justify-content: center;
}
/*caja testimonio*/
.box-testimonio{
height: 29.375rem;
padding: 25px;
background-color: #012d69;
border-radius: 2.5rem;
margin-top: .625rem;
color: azure;
}

.box-testimonio-in {
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}

.box-testimonio-in div img {
width: 100%;
height: auto;
border-radius: 3rem;
}
.box-testimonio-in div h4 {
margin: 5px 0;
font-size: 18px;
}

/*Banner pie*/
.banner-pie{
    width: 100%;
    /*background-color: azure;
    height: 11.25rem;*/
}
.banner-pie-box{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    align-items: center;
}

.box-banner-img{
    width: 100px;
}

.box-banner-text{
    padding: .625rem;
    width: 100%; 
    text-align: center;
    color: #012d69;
    font-size: 18px;
}

/*Pages contacto*/
.section-form{
    background-color: azure;
    height: 31.25rem;
}
/*================== Pie de pagina ==================*/




/*========== Medidas tablet 768px ==========*/
@media(max-width:768px)
    {
        .imagen-presentacion-principal img{
            width: 15.625rem;
        }
        .box-testimonio-in div h4 {
            margin: 5px 0;
            font-size: 16px;
            }
        .logo_pie{
            margin-top: .9375rem;
            margin-left: .0625rem;
            }
        .logo_pie a img{
            width: 170px;
            }
        .pie_de_pagina{
            width: 100%;
            display: grid;
            grid-template-columns: 24% 24% 24% 24%;
            gap: .3125rem;
            }
        .navbar_pie li a{
            font-size: 14px;
            color: azure;
            }
        .pie_de_pagina h3{
            font-size: 14px; 
            }
        .contactanos_pie p{
            font-size: 14px; 
            }
        .ventas-whatsapp div img{
            width: 20px;
            }
    }

/*Medidas mobile 425px */
@media(max-width:425px)
    {
        
        .imagen-presentacion-principal img{
            width: 15.625rem;
        }
        .header-line{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: none;
        }
        .navbar-principal{
            width: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            gap: .5rem;
            padding: none;
            margin: none;
            text-align: center;
        }
        .navbar-principal li a{
            text-decoration: underline;
            color:#012d69;
        }
        .navbar-principal li a:hover{
            background-color:#022453;
            border-radius: 15px;
            color: azure;
            padding: 8px;
        }
        .section-clip-on{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: .625rem;
            }
        .descripcion-articulo-principal{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            }

        .descripcion-articulo-principal h1{
            font-size: 26px;
            margin-bottom: .9375rem;
            text-align: center;
            }
        .descripcion-articulo-principal p{
            font-size: 16px;
            text-align: center;
            width: 90%;
            margin-bottom: .9375rem;
            }
        .section-kids{
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: .3125rem;
            }
        .section-carrito-principal{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.25rem;
            padding: .625rem;
            }
        .section-testimonios{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5625rem;            
            }
        .box-testimonio{
            height: 28.75rem;
            width: 80%;
            padding: 25px;
            background-color: #012d69;
            border-radius: 2.5rem;
            margin-top: .625rem;
            color: azure;
            }
        .box-testimonio-in div h4 {
            margin: 5px 0;
            font-size: 16px;
            }
        .logo_pie{
            margin-top: .9375rem;
            
            }
        .logo_pie a img{
            width: 200px;
            }
        .pie_de_pagina{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            }
        .navbar_pie li a{
            font-size: 18px;
            color: azure;
            }
        .pie_de_pagina h3{
            font-size: 20px; 
            text-align: center;
            }
        .contactanos_pie p{
            font-size: 18px;
            
            }
        .ventas-whatsapp div img{
            width: 30px;
            }
        .maps_pie {
            align-content: center;
        }
        .maps_pie p{
            padding: 15px 15px 15px 0px;
            text-align: center; 
            }
    }
/*Medidas mobile 320px */
@media(max-width:320px)
    {
        .navbar-principal{
            width: 96%;
            list-style: none;
            display: flex;
            align-items: center;
            gap: .5rem;
            padding: none;
            margin: none;
            text-align: center;
        }
        .navbar-principal li a{
            text-decoration: underline;
            color:#012d69;
            font-size: 12px;
        }
        .imagen-presentacion-principal img{
            width: 11.875rem;
        }
        .box-testimonio{
            height: 26.875rem;
            width: 80%;
            padding: 25px;
            border-radius: 2.5rem;
            margin-top: .625rem;
            }
    }